In [25]:
# Librerias
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

# Curso Minedu

Curso: Gestiona entornos virtuales para apoyar el aceeso a los contenidos, actividades y evaluaciones diversificadas 2ed

In [26]:
# Cargamos los datos
df = pd.read_csv("../data/df_encuesta_final.csv",sep=";") 
df

C:\Users\JuniorOM\AppData\Local\Temp\ipykernel_37056\506679347.py:2: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/df_encuesta_final.csv",sep=";")

,Curso,Region,Ugel,Edad,Sexo,Cargo,Cargo_otros,Nivel,Nivel_otros,Grado,...,pc_00,pc_01,pc_02,pc_03,pc_04,pc_05,pc_06,pc_07,pc_08,pc_09
0,Bienestar socioemocional para el retorno a la ...,AMAZONAS,Utcubamba,51 a 60,Mujer,Director,NaN,Primaria,NaN,Primaria,...,NaN,0,0,0,0,0,0,0,0,0
1,Bienestar socioemocional para el retorno a la ...,AMAZONAS,UTCUBAMBA,41 a 50,Hombre,Director,PRIMARIA,Primaria,NaN,Primaria,...,NaN,0,0,0,0,0,0,0,0,0
2,Bienestar socioemocional para el retorno a la ...,AMAZONAS,LUYA,51 a 60,Mujer,Docente,NaN,Primaria,NaN,Primaria,...,NaN,0,0,0,0,0,0,0,0,0
3,Bienestar socioemocional para el retorno a la ...,AMAZONAS,303,31 a 40,Hombre,Docente,NaN,Primaria,NaN,Primaria,...,NaN,1,0,1,0,1,0,0,0,0
4,Bienestar socioemocional para el retorno a la ...,AMAZONAS,Bongará,51 a 60,Hombre,Docente,NaN,Secundaria,NaN,Secundaria,...,NaN,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33258,Evaluación diagnóstica para el buen retorno,LAMBAYEQUE,CHICLAYO,41 a 50,Mujer,Docente,NaN,Secundaria,NaN,Secundaria 22,...,NaN,0,0,0,0,0,0,0,1,0
33259,Evaluación diagnóstica para el buen retorno,LAMBAYEQUE,lambayeque,20 a 30,Mujer,Docente,NaN,Secundaria,NaN,Secundaria 22,...,NaN,0,0,0,0,0,0,0,0,1
33260,Evaluación diagnóstica para el buen retorno,LAMBAYEQUE,lambayeuqe,41 a 50,Hombre,Docente,NaN,Secundaria,NaN,Secundaria 22,...,NaN,0,0,0,1,0,0,0,0,0
33261,Evaluación diagnóstica para el buen retorno,LAMBAYEQUE,CHICLAYO,41 a 50,Hombre,Docente,NaN,Secundaria,MATEMATICA,Secundaria 22,...,NaN,0,0,0,0,1,0,0,0,0
33262,Evaluación diagnóstica para el buen retorno,LAMBAYEQUE,CHICLAYO,41 a 50,Hombre,Otro,SUBDIRECTOR,Secundaria,NaN,Secundaria 22,...,NaN,1,0,0,0,0,0,0,0,0

### Data Cleaning

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33263 entries, 0 to 33262
Data columns (total 53 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Curso                  33263 non-null  object
 1   Region                 33263 non-null  object
 2   Ugel                   32883 non-null  object
 3   Edad                   33174 non-null  object
 4   Sexo                   33093 non-null  object
 5   Cargo                  33214 non-null  object
 6   Cargo_otros            7307 non-null   object
 7   Nivel                  33207 non-null  object
 8   Nivel_otros            4623 non-null   object
 9   Grado                  29016 non-null  object
 10  Inicial                12002 non-null  object
 11  Primaria               10753 non-null  object
 12  Secundaria             13449 non-null  object
 13  Experiencia_anio       32555 non-null  object
 14  Situacion_laboral      33154 non-null  object
 15  Situacion_laboral_Esp  16166 non-null  object
 16  p1                     33263 non-null  object
 17  p2                     33263 non-null  object
 18  p3                     33263 non-null  object
 19  p4                     33263 non-null  object
 20  p5                     33263 non-null  object
 21  p6                     33263 non-null  object
 22  p7                     33263 non-null  object
 23  p8                     33263 non-null  object
 24  p9                     33263 non-null  object
 25  p10                    17440 non-null  object
 26  p11                    0 non-null      float64
 27  p12                    0 non-null      float64
 28  p13                    33263 non-null  object
 29  p14                    33263 non-null  object
 30  p15                    29202 non-null  object
 31  p16                    29202 non-null  object
 32  p17                    33263 non-null  object
 33  p17_Esp                11473 non-null  object
 34  p18                    33263 non-null  object
 35  p18_Esp                5644 non-null   object
 36  p19                    33263 non-null  object
 37  p19_Esp                6164 non-null   object
 38  p19_Esp_1              33263 non-null  int64
 39  p19_Esp_2              33263 non-null  int64
 40  p20                    33263 non-null  object
 41  p21                    33263 non-null  object
 42  p21_Esp                7608 non-null   object
 43  pc_00                  0 non-null      float64
 44  pc_01                  33263 non-null  int64
 45  pc_02                  33263 non-null  int64
 46  pc_03                  33263 non-null  int64
 47  pc_04                  33263 non-null  int64
 48  pc_05                  33263 non-null  int64
 49  pc_06                  33263 non-null  int64
 50  pc_07                  33263 non-null  int64
 51  pc_08                  33263 non-null  int64
 52  pc_09                  33263 non-null  int64
dtypes: float64(3), int64(11), object(39)
memory usage: 13.5+ MB

In [28]:
# Renombrar Columnas 
df_names = df.columns.values
#df_names.str.lower()