**Operadores Aritmeticos en Python**

In [2]:
2+2

4

In [3]:
5-3

2

In [4]:
3*4

12

In [5]:
5/2

2.5

In [6]:
5**2

25

In [7]:
5%2

1

In [8]:
5*(2+4)

30

In [11]:
var1=2
var1

2

In [13]:
var1 = 5*2+4
var1

14

In [14]:
5>2

True

In [15]:
3<=2

False

**String en Python**

In [16]:
st python tutorial

SyntaxError: invalid syntax (1346526340.py, line 1)

In [17]:
"st python tutorial"

'st python tutorial'

In [18]:
str1 = "st python tutorial"
str1

'st python tutorial'

In [19]:
print(str1)

st python tutorial

In [20]:
x= "R"

In [21]:
print("st {} tutorial").format(x)

st {} tutorial

AttributeError: 'NoneType' object has no attribute 'format'

In [22]:
print("st {} tutorial".format(x))

st R tutorial

In [25]:
x= "SQL"
print("st {} tutorial {}".format(x,var1))

st SQL tutorial 14

In [26]:
len(str1)

18

In [27]:
str1

'st python tutorial'

In [28]:
str1.replace("python","SQL")

'st SQL tutorial'

In [29]:
x = str1.replace("python","SQL")

In [30]:
x

'st SQL tutorial'

In [31]:
x[1]

't'

In [32]:
x[2:5]

' SQ'

In [33]:
x[4:6]

'QL'

In [34]:
x[-1]

'l'

In [35]:
x[:5]

'st SQ'

In [36]:
x[5:]

'L tutorial'

In [38]:
x[2:10:2]

' Q u'

In [39]:
type(x)

str

In [40]:
type(var1)

int

In [41]:
var1

14

In [43]:
var2= 5/2
var2

2.5

In [44]:
type(var2)

float

**Listas tuplas y directoprios**

In [47]:
l1= [1,2,3,4,5]
type(l1)

list

In [49]:
print(l1)

[1, 2, 3, 4, 5]

In [50]:
l1[0]

1

In [51]:
l1[0:3]

[1, 2, 3]

In [53]:
l1[::2]

[1, 3, 5]

In [54]:
l2 = [1, "a", 1.0]

In [56]:
type(l2[0])

int

In [57]:
type(l2)

list

In [63]:
l3 = [l2, 1, 2.0]
print(l3)

[[1, 'a', 1.0], 1, 2.0]

In [64]:
type(l3[0])

list

In [65]:
l3[0][1]

'a'

In [66]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [69]:
l4 = list(range(0,10,2))
l4

[0, 2, 4, 6, 8]

In [71]:
l4.sort(reverse=True)
l4

[8, 6, 4, 2, 0]

In [73]:
l4.append(10)
l4

[8, 6, 4, 2, 0, 10, 10]

In [74]:
l4[0]=3